{% extends 'Base.html'%}
    {% block content%}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
    {%load static%}
    
<div style="background-image:  url('/media/bg1.jpg'); background-repeat:no-repeat;background-size:cover;  height:900px; width:100%;">
   <!--iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/7014a8bb-1984-42b3-91a3-58e0b3921c85">
</iframe--> 
</div>
{%endblock%}

